body{
    background: radial-gradient(circle at 37% 60%, #efefef, #fff) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left:0;
    margin-right:0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //line-height: 1.4em;
    color: #4d4d4d;
    margin: 0 auto !important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

.paddingZero {
    padding: 0px !important;
}
.marginZero {
    margin: 0px !important;
}

.footerBrand{
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: cursive;
    font-size: 20px;
    margin: 3px;
    text-shadow: 0px 0px 2px #fff;
}
.footerContainer{
    margin-top: -5%;
    font-variant: petite-caps;
    font-weight: 600;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular-webfont.eot');
  src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular-webfont.woff') format('woff'),
       url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.card{
  background-color: rgb(255, 255, 255);
  padding:15px;
  min-height: 174px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
             box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.field{
  padding:10px !important;
}

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.loginContainer{
    margin-top: 8%;
    margin-bottom: 2em;
}
.login-box{
  position:relative;
  margin: 10px auto;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active{
  color: #029f5b;
  font-size: 18px;
}
.social-login{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}
.social-login a{
  //position:relative;
  //float: left;
  //width:calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  //border: 1px solid rgba(0,0,0,0.05);
  //padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
.login-option-container {
    padding: 10px;
}
.login-option {
    padding: 10px;
}
.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}
.fb-login{
  background-color: #49639F;
}
.google-login{
  background-color: #DF4A32;
  margin-left:15px;
}
.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
  width: calc(80%);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  //font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
.u-form-group input:focus{
  border-color: #358efb;
}
.u-form-group button{
  width:50%;
  background-color: #1CB94E;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  //font-size: 0.75rem;
}

.margin-resetter{
  margin:0;
  padding: 0;
}

.green .progress-bar{
  color:green;
}

.list-group-item:first-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

h1 {
  font-size: 30px;
  line-height: 38px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
  color: #222324;
  font-family: "Source Code Pro", monospace;
}


.bp-con{
  margin-top: 10%;
}

.box{
  margin-left: 35px
}

.line-item{
  margin-bottom:20px;
  display: -webkit-box;
}

.img-item{
  width: 135px;
  height: 135px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
             box-shadow: 0px 0px 100px rgba(0,0,0,.8);
}

.red{
  color:red;
}

.green{
  color:green;
}

.aligner{
  position: relative;
  right: -58%;
}

.page-header{
  color: #222324;
  font-family: "Source Code Pro", monospace;
  font-size: 17px;
}

.build-heading{
    font-size: 13px;    
    font-family: "Source Code Pro", monospace;
}

.card-data{
  padding: 10px;
  text-align: left;
}

.circle{
  width:100px;
  margin-top: 14px;
  margin-right: 125px;
}

.indicator_green{
  width: 10px;
  height: 10px;
  background-color: #0f0;
  float: left;
  top: 3px;
  position: relative;
  left: -3px;
}


.indicator_red{
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  float: left;
  top: 3px;
  position: relative;
  left: -3px;
}

.highlighter_green{
  position: relative;
  display: inline-block;
  top: -80px;
  left: 110px;
}

.highlighter_red{
  position: relative;
  display: inline-block;
  top: -50px;
  left: 5px;
}  

.mob-heading{
  padding: 20px;
}

.mob-heading strong{
  font-size: 3em;
}

.mobile-header{
  color: #222324;
  font-family: "Source Code Pro", monospace;
  font-size: 4em;
}

.notification-header{
  font-size: 3em;
  font-family: "Source Code Pro", monospace;
  text-align: center;
  margin-top: 3em;
}

.noti-img{
  width: 5em;
  height: 5em;
}

.urgent-img{
  width: 10em;
  position: absolute;
  top: 15px;
  left: 15px;
}

.margin-mobile{
  margin-top: 2em;
}

.urgent-header{
  font-size: 3em;
  font-family: "Source Code Pro", monospace;
  margin: 1em;
}

.mobile-border{
  border: solid 1px black;
}

.custom-btn-red,.custom-btn-blue {
  border:1px solid red;
  text-decoration:none;
  margin-top:100px;
  font-family:helvetica;
  color:red;
  width:400px;
  height:100px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-radius: 3px;
  font-size: 4em;
  font-family: arial,helvetica,sans-serif;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  font-weight: bold;
  color: #fff;
  background-color: #45484d;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#45484d),to(#000));
  background-image: -webkit-linear-gradient(top,#45484d,#000);
  background-image: -moz-linear-gradient(top,#45484d,#000);
  background-image: -ms-linear-gradient(top,#45484d,#000);
  background-image: -o-linear-gradient(top,#45484d,#000);
  background-image: linear-gradient(to bottom,#45484d,#000);
}


