<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->

<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <script>
      window._trackJs = { token: '<%= htmlWebpackPlugin.options.trackJSToken %>' };
    </script>
    <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>

    <% } %>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8" />
      <title>React Slingshot</title>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
      <script>
        window.onload = function () {

        };
      </script>
</head>

<body>
    <div class="container-fluid">
        <div class="col-xs-12 paddingZero text-center"><div id="app"></div></div>
        <div class="col-xs-12 paddingZero text-center">
            <footer class="">&copy; All Right Reserved 2018</footer>
        </div>
    </div>    
    
    <!--<div class="col-xs-12 paddingZero text-center">
        <div class="">
            <svg viewbox="0 0 100 20">
              <path fill="#2196F3" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z" />
              <path fill="#2196F3" d="M0 20 V12 Q30 17 55 12 T100 11 V30z" />
            </svg>
        </div>
        <footer class="footerContainer"><div class="footerBrand">Deloitte</div><div>&copy; All Right Reserved 2018</div></footer>
    </div>-->
</body>

</html>